<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Homepage</title>
        </head>
        <body style="
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        ">
        <div style="
        text-align: center;
        background: white;
        padding: 40px 60px;
        border-radius:10px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        ">

        <h1 style="colour: #2c3e50; font-size: 3rem; margin-bottom: 10px;">
            LOL
        </h1>
        <p style="color: #555; font-size: 1.2rem;">
            This is the homepage
        </p>
        </div>
        </body>
</html>
    
        