<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/style.css' %}">

        <title>{% block title %}My Awesome Site{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'home' %}" class="nav-logo"> 
                    <img src="{% static 'home/logo.png' %}" alt="Restaurant Name Logo">
                </a>
                <ul>
                    <li><a href="{% url 'home' %}"{% if active_page=='home' %} class="active"{% endif %}> home </a></li>
                    <li><a href="{% url 'menu-api' %}"{% if active_page=='menu' %} class="active"{% endif %}> Menu</a></li>
                    <li><a href="{% url 'reservations' %}"{% if active_page=='home' %} class="active"{% endif %}> reservations </a></li>
                    <li><a href="{% url 'contact' %}"{% if active_page=='contact' %} class="active"{% endif %}> contact </a></li>
                    <li><a href="{% url 'feedback' %}"{% if active_page=='feedback' %} class="active"{% endif %}> feedback</a></li>
                </ul>
                <form action='#' method="GET" class="nav-search-form">
                    <input type="text" name="q" placeholder="Search menu...">
                    <button type="submit">Go</button>
                </form>
            </nav>
        
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        <footer>
            <p>&copy; {% now "Y" %} Your Restaurant Name. All rights reserved.</p>
            <p class="opening hours"> Mon-Fri: 11am-9pm | Sat-Sun: 10am-10pm</p>
        </footer>
    </body>
</html>
        